name: Build APK

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y git zip unzip openjdk-17-jdk autoconf automake libtool zlib1g-dev libffi-dev libssl-dev
        pip install buildozer==1.5.0 cython==0.29.33

    - name: Build APK
      run: |
        export BUILDOZER_WARN_ON_ROOT=0
        buildozer android debug

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: MsDownloader-APK
        path: bin/*.apk